.PostTeaser {
  border: 1px solid #ccc;
  transition: all .3s;
  padding: 20px;
  position: relative;
  text-align: center;

  &:hover {
    box-shadow: 0 1px 17px 0 rgba(0,0,0,0.15);
    .adminAction {
      opacity: 1;
    }
  }

  .teasericon {
    text-align: center;
  }

  .adminAction {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
  }

}

